[package]
name = "mas-email"
version = "0.1.0"
authors = ["Quentin Gliech <quenting@element.io>"]
edition = "2021"
license = "Apache-2.0"

[dependencies]
async-trait = "0.1.68"
tracing = "0.1.37"
thiserror = "1.0.40"
headers = "0.3.8"

aws-sdk-sesv2 = { version = "0.27.0", default-features = false }
aws-config = { version = "0.55.3", default-features = false }
aws-smithy-client = { version = "0.55.3", default-features = false, features = ["client-hyper"] }
aws-smithy-async = { version = "0.55.3", default-features = false, features = ["rt-tokio"] }
aws-smithy-http = { version = "0.55.3", default-features = false }
aws-smithy-http-tower = { version = "0.55.3", default-features = false }
aws-types = "0.55.3"

mas-templates = { path = "../templates" }
mas-http = { path = "../http", features = ["aws-sdk", "client"] }
mas-tower = { path = "../tower", features = ["aws-sdk"] }

[dependencies.lettre]
version = "0.10.4"
default-features = false
features = ["tokio1-rustls-tls", "hostname", "builder", "tracing", "pool", "smtp-transport", "sendmail-transport"]

[features]
native-roots = ["mas-http/native-roots"]
webpki-roots = ["mas-http/webpki-roots"]
