[package]
name = "mas-cli"
version = "0.1.0"
authors = ["Quentin Gliech <quenting@element.io>"]
edition = "2021"
license = "Apache-2.0"

[dependencies]
tokio = { version = "1.16.1", features = ["full"] }
futures = "0.3.19"
anyhow = { version = "1.0.53", features = ["backtrace"] }
clap = { version = "3.0.14", features = ["derive"] }
dotenv = "0.15.0"
schemars = { version = "0.8.8", features = ["url", "chrono"] }
tower = { version = "0.4.11", features = ["full"] }
tower-http = { version = "0.2.1", features = ["full"] }
hyper = { version = "0.14.16", features = ["full"] }
serde_yaml = "0.8.23"
warp = "0.3.2"
url = "2.2.2"
argon2 = { version = "0.3.3", features = ["password-hash"] }
reqwest = { version = "0.11.9", features = ["rustls-tls"], default-features = false, optional = true }
watchman_client = "0.7.1"
atty = "0.2.14"

tracing = "0.1.30"
tracing-appender = "0.2.0"
tracing-subscriber = { version = "0.3.7", features = ["env-filter"] }
tracing-opentelemetry = "0.17.0"
opentelemetry = { version = "0.17.0", features = ["trace", "metrics", "rt-tokio"] }
opentelemetry-http = "0.6.0"
opentelemetry-semantic-conventions = "0.9.0"
opentelemetry-jaeger = { version = "0.16.0", features = ["rt-tokio", "reqwest_collector_client"], optional = true }
opentelemetry-otlp = { version = "0.10.0", features = ["trace", "metrics"], optional = true }
opentelemetry-zipkin = { version = "0.15.0", features = ["reqwest-client", "reqwest-rustls"], default-features = false, optional = true }

mas-config = { path = "../config" }
mas-handlers = { path = "../handlers" }
mas-email = { path = "../email" }
mas-storage = { path = "../storage" }
mas-tasks = { path = "../tasks" }
mas-templates = { path = "../templates" }
mas-warp-utils = { path = "../warp-utils" }

[dev-dependencies]
indoc = "1.0.3"

[features]
default = ["otlp", "jaeger", "zipkin"]
dev = ["mas-templates/dev", "mas-handlers/dev"]
# Enable OpenTelemetry OTLP exporter. Requires "protoc"
otlp = ["opentelemetry-otlp"]
# Enable OpenTelemetry Jaeger exporter and propagator.
jaeger = ["opentelemetry-jaeger", "reqwest"]
# Enable OpenTelemetry Zipkin exporter and B3 propagator.
zipkin = ["opentelemetry-zipkin", "reqwest"]
