<div class="deprecation-notice content">
    <h1>This documentation is out of date!</h1>
    <p>
        This documentation site is for the versions of matrix-authentication-service maintained by the <em>Matrix.org Foundation</em> (<a href="https://github.com/matrix-org/matrix-authentication-service">github.com/matrix-org/matrix-authentication-service</a>), available under the Apache 2.0 licence.
    </p>

    <p>
        Since version 0.12.0, matrix-authentication-service is now maintained by <em>Element</em> under a new licence (<a href="https://github.com/element-hq/matrix-authentication-service">github.com/element-hq/matrix-authentication-service</a>).
    </p>

    <p>
        If you are interested in the documentation for a later version of matrix-authentication-service, please refer to <a href="https://element-hq.github.io/matrix-authentication-service/">https://element-hq.github.io/matrix-authentication-service/</a>.
    </p>
</div>
