[package]
name = "mas-handlers"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
publish = false

[lints]
workspace = true

[dependencies]
# Async runtime
tokio = { version = "1.35.1", features = ["macros"] }
futures-util = "0.3.30"

# Logging and tracing
tracing.workspace = true
opentelemetry.workspace = true
opentelemetry-semantic-conventions.workspace = true

# Error management
thiserror.workspace = true
anyhow.workspace = true
sentry = { version = "0.31.8", default-features = false }

# Web server
hyper = { version = "0.14.27", features = ["full"] }
tower = "0.4.13"
tower-http = { version = "0.4.4", features = ["cors"] }
axum = "0.6.20"
axum-macros = "0.3.8"
axum-extra = { version = "0.8.0", features = ["cookie-private"] }

async-graphql = { version = "6.0.11", features = ["tracing", "apollo_tracing"] }

# Emails
lettre = { version = "0.11.4", default-features = false, features = ["builder"] }

# Database access
sqlx = { version = "0.7.3", features = ["runtime-tokio-rustls", "postgres"] }

# Various structure (de)serialization
serde.workspace = true
serde_with = { version = "3.5.1", features = ["hex", "chrono"] }
serde_json.workspace = true
serde_urlencoded = "0.7.1"

# Password hashing
argon2 = { version = "0.5.3", features = ["password-hash", "std"] }
bcrypt = "0.15.0"
pbkdf2 = { version = "0.12.2", features = ["password-hash", "std", "simple", "parallel"] }
zeroize = "1.7.0"

# Various data types and utilities
base64ct = "1.6.0"
camino.workspace = true
chrono.workspace = true
psl = "2.1.16"
time = "0.3.31"
url.workspace = true
mime = "0.3.17"
minijinja.workspace = true
rand.workspace = true
rand_chacha = "0.3.1"
headers = "0.3.9"
ulid.workspace = true

mas-axum-utils.workspace = true
mas-data-model.workspace = true
mas-graphql.workspace = true
mas-http.workspace = true
mas-i18n.workspace = true
mas-iana.workspace = true
mas-jose.workspace = true
mas-keystore.workspace = true
mas-matrix.workspace = true
mas-oidc-client.workspace = true
mas-policy.workspace = true
mas-router.workspace = true
mas-spa.workspace = true
mas-storage.workspace = true
mas-storage-pg.workspace = true
mas-templates.workspace = true
oauth2-types.workspace = true

[dev-dependencies]
insta = "1.34.0"
tracing-subscriber.workspace = true
cookie_store = "0.20.0"

[features]
# Use the native root certificates
native-roots = ["mas-axum-utils/native-roots", "mas-http/native-roots"]
# Use the webpki root certificates
webpki-roots = ["mas-axum-utils/webpki-roots", "mas-http/webpki-roots"]
