[package]
name = "mas-handlers"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
# Async runtime
tokio = { version = "1.32.0", features = ["macros"] }
futures-util = "0.3.28"

# Logging and tracing
tracing.workspace = true
opentelemetry = "0.20.0"
opentelemetry-semantic-conventions = "0.12.0"

# Error management
thiserror.workspace = true
anyhow.workspace = true
sentry = { version = "0.31.7", default-features = false }

# Web server
hyper = { version = "0.14.27", features = ["full"] }
tower = "0.4.13"
tower-http = { version = "0.4.4", features = ["cors"] }
axum = "0.6.20"
axum-macros = "0.3.8"
axum-extra = { version = "0.8.0", features = ["cookie-private"] }

async-graphql = { version = "6.0.7", features = ["tracing", "apollo_tracing"] }

# Emails
lettre = { version = "0.10.4", default-features = false, features = ["builder"] }

# Database access
sqlx = { version = "0.7.2", features = ["runtime-tokio-rustls", "postgres"] }

# Various structure (de)serialization
serde.workspace = true
serde_with = { version = "3.3.0", features = ["hex", "chrono"] }
serde_json.workspace = true
serde_urlencoded = "0.7.1"

# Password hashing
argon2 = { version = "0.5.2", features = ["password-hash", "std"] }
bcrypt = "0.15.0"
pbkdf2 = { version = "0.12.2", features = ["password-hash", "std", "simple", "parallel"] }
zeroize = "1.6.0"

# Various data types and utilities
camino.workspace = true
chrono.workspace = true
psl = "2.1.4"
time = "0.3.29"
url.workspace = true
mime = "0.3.17"
rand.workspace = true
rand_chacha = "0.3.1"
headers = "0.3.9"
ulid.workspace = true

mas-axum-utils = { path = "../axum-utils", default-features = false }
mas-data-model = { path = "../data-model" }
mas-graphql = { path = "../graphql" }
mas-http = { path = "../http", default-features = false }
mas-i18n = { path = "../i18n" }
mas-iana = { path = "../iana" }
mas-jose = { path = "../jose" }
mas-keystore = { path = "../keystore" }
mas-matrix = { path = "../matrix" }
mas-oidc-client = { path = "../oidc-client" }
mas-policy = { path = "../policy" }
mas-router = { path = "../router" }
mas-spa = { path = "../spa" }
mas-storage = { path = "../storage" }
mas-storage-pg = { path = "../storage-pg" }
mas-templates = { path = "../templates" }
oauth2-types = { path = "../oauth2-types" }

[dev-dependencies]
insta = "1.32.0"
tracing-subscriber.workspace = true
cookie_store = "0.20.0"

[features]
default = ["webpki-roots"]

# Use the native root certificates
native-roots = ["mas-axum-utils/native-roots", "mas-http/native-roots"]
# Use the webpki root certificates
webpki-roots = ["mas-axum-utils/webpki-roots", "mas-http/webpki-roots"]
