<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}matrix-authentication-service{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>
  <body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            matrix-authentication-service
          </a>
        </div>

        <div class="navbar-end">
          {% if current_user %}
            <div class="navbar-item">
              Howdy {{ current_user.name }}!
            </div>
            <div class="navbar-item">
              <form method="POST" action="/logout">
                <input type="hidden" name="csrf" value="{{ csrf_token }}" />
                <button class="button is-light" action="submit">
                  Log out
                </button>
              </form>
            </div>
          {% else %}
            <div class="navbar-item">
              <a class="button is-light" href="/login">
                Log in
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    </nav>

    {% block content %}{% endblock content %}
  </body>
</html>
