<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}matrix-authentication-service{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>
  <body>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            matrix-authentication-service
          </a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            {% if current_user %}
              Howdy {{ current_user.name }}!
            {% else %}
              <a class="button is-light" href="/login">
                Log in
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>

    {% block content %}{% endblock content %}

    <footer class="footer">
      <div class="content has-text-centered">
        <p>I'm checking that session works by telling you loaded things <strong>{{ visits }}</strong> time{{ visits | pluralize }}.</p>
    </footer>
  </body>
</html>
