{% extends "base.html" %}

{% block content %}
  <section class="section">
    <div class="container content">
      <h1>Some content.</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget dolor augue. Integer ut sagittis ipsum, non consectetur nunc. Aliquam sed auctor dolor. Maecenas non massa ultricies, ornare dui in, aliquet lacus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas volutpat erat sit amet tortor vestibulum aliquet. Fusce ornare nibh vel ligula ullamcorper, gravida convallis nisi imperdiet. Sed ut erat tincidunt, sagittis ante a, facilisis est. Ut non justo vel metus hendrerit volutpat nec sit amet nulla. Proin id leo eu mi rhoncus porta. Quisque lacinia sodales augue id rhoncus.
      </p>
    </div>
  </section>
{% endblock content %}
