[package]
name = "mas-http"
version = "0.1.0"
authors = ["Quentin Gliech <quenting@element.io>"]
edition = "2021"
license = "Apache-2.0"

[dependencies]
aws-smithy-http = { version = "0.54.3", optional = true }
aws-types = { version = "0.54.1", optional = true }
axum = { version = "0.6.7", optional = true }
bytes = "1.4.0"
futures-util = "0.3.26"
headers = "0.3.8"
http = "0.2.9"
http-body = "0.4.5"
hyper = "0.14.24"
hyper-rustls = { version = "0.23.2", features = ["http1", "http2"], default-features = false, optional = true }
once_cell = "1.17.1"
opentelemetry = "0.18.0"
opentelemetry-http = "0.7.0"
opentelemetry-semantic-conventions = "0.10.0"
rustls = { version = "0.20.8", optional = true }
rustls-native-certs = { version = "0.6.2", optional = true }
serde = "1.0.152"
serde_json = "1.0.93"
serde_urlencoded = "0.7.1"
thiserror = "1.0.38"
tokio = { version = "1.25.0", features = ["sync", "parking_lot"], optional = true }
tower = { version = "0.4.13", features = [] }
tower-http = { version = "0.3.5", features = ["cors"] }
tracing = "0.1.37"
tracing-opentelemetry = "0.18.0"
webpki = { version = "0.22.0", optional = true }
webpki-roots = { version = "0.22.6", optional = true }

[dev-dependencies]
anyhow = "1.0.69"
serde = { version = "1.0.152", features = ["derive"] }
tokio = { version = "1.25.0", features = ["macros", "rt"] }
tower = { version = "0.4.13", features = ["util"] }

[features]
axum = ["dep:axum"]
aws-sdk = ["dep:aws-smithy-http", "dep:aws-types"]
native-roots = ["dep:rustls-native-certs"]
webpki-roots = ["dep:webpki-roots"]
client = [
  "dep:rustls",
  "hyper/tcp",
  "dep:hyper-rustls",
  "dep:tokio",
  "dep:webpki",
  "tower/limit",
  "tower-http/timeout",
  "tower-http/follow-redirect",
  "tower-http/set-header",
]
