[package]
name = "mas-http"
version = "0.1.0"
authors = ["Quentin Gliech <quenting@element.io>"]
edition = "2021"
license = "Apache-2.0"

[dependencies]
axum = "0.5.1"
bytes = "1.1.0"
futures-util = "0.3.21"
http = "0.2.6"
http-body = "0.4.4"
hyper = "0.14.18"
hyper-rustls = { version = "0.23.0", features = ["http1", "http2"] }
once_cell = "1.10.0"
opentelemetry = "0.17.0"
opentelemetry-http = "0.6.0"
opentelemetry-semantic-conventions = "0.9.0"
pin-project-lite = "0.2.8"
rustls = "0.20.4"
serde = "1.0.136"
serde_json = "1.0.79"
thiserror = "1.0.30"
tokio = { version = "1.17.0", features = ["sync", "parking_lot"] }
tower = { version = "0.4.12", features = ["timeout", "limit"] }
tower-http = { version = "0.2.5", features = ["follow-redirect", "decompression-full", "set-header", "compression-full", "cors"] }
tracing = "0.1.32"
tracing-opentelemetry = "0.17.2"
