[package]
name = "mas-http"
description = "HTTP utilities for the Matrix Authentication Service"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[lints]
workspace = true

[dependencies]
axum = { version = "0.6.20", optional = true }
bytes = "1.5.0"
futures-util = "0.3.30"
headers = "0.3.9"
http.workspace = true
http-body = "0.4.5"
hyper = "0.14.27"
hyper-rustls = { version = "0.25.0", features = ["http1", "http2"], default-features = false, optional = true }
once_cell = "1.19.0"
opentelemetry.workspace = true
rustls = { version = "0.22.2", optional = true }
rustls-native-certs = { version = "0.7.0", optional = true }
serde.workspace = true
serde_json.workspace = true
serde_urlencoded = "0.7.1"
thiserror.workspace = true
tokio = { version = "1.35.1", features = ["sync", "parking_lot"], optional = true }
tower = { version = "0.4.13", features = ["util"] }
tower-http = { version = "0.4.4", features = ["cors"] }
tracing.workspace = true
tracing-opentelemetry.workspace = true
webpki-roots = { version = "0.26.0", optional = true }

mas-tower.workspace = true

[dev-dependencies]
anyhow.workspace = true
tokio = { version = "1.35.1", features = ["macros", "rt"] }

[features]
axum = ["dep:axum"]
native-roots = ["dep:rustls-native-certs"]
webpki-roots = ["dep:webpki-roots"]
client = [
  "dep:rustls",
  "hyper/tcp",
  "dep:hyper-rustls",
  "dep:tokio",
  "tower/limit",
  "tower-http/timeout",
  "tower-http/follow-redirect",
  "tower-http/set-header",
]
