name: Upload translation files to Localazy
on:
  push:
    branches:
      - main

jobs:
  upload:
    runs-on: ubuntu-22.04
    permissions:
      contents: read

    steps:
      - name: Checkout the code
        uses: actions/checkout@v4.1.6

      - name: Upload
        uses: localazy/upload@v1
        with:
          write_key: ${{ secrets.LOCALAZY_WRITE_KEY }}